.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    min-width: 8rem;
    color: #333;
    border-radius: 3px;
    margin-left: 1rem;
}
.btn > * {
    margin-right: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.btn--add {
    background-color: white;
}

.btn--filter {
    background-color: rgb(56, 132, 255);
    color: white;
    border: 0;
}
