.Main__topbar {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Main__tasks {
    display: flex;
    justify-content: space-evenly;
    max-height: calc(100vh - 5rem - 6rem);
    overflow: hidden;
}

@media (max-width: 1250px) {
    .Main__tasks {
        overflow: auto;
        justify-content: flex-start;
    }
}

.Main__taskColumn {
    max-height: 90%;
    overflow-y: scroll;
    padding: 1rem;
}
.Main__taskColumn::-webkit-scrollbar {
    display: none;
}

.Main__taskColumn > * {
    margin-bottom: 1.5rem;
}

.Main__tools {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


