.Card {
    width: 18rem;
    min-height: 12rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}

.Card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Card h5 {
    font-family: "Open Sans";
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.Menu-icon {
    position: absolute;
    right: 0;
    color: #777;
}
.Menu-icon:hover {
    cursor: pointer;
}

.Card__bottom-menu {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 1rem;
}

.Card__bottom-menu > * {
    margin-right: 1rem;
}
