.ProjectTag {
    color: #fff;
    min-width: 5rem;
    font-size: 12px;
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectTag:hover {
    cursor: pointer;
}
