.Sidebar {
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    position: relative;
    height: 100vh;
}

.Sidebar__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 5rem;
}

.Sidebar__logout {
    position: absolute;
    color: #ddd;
    bottom: 5rem;
    right: 2.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
